/* リセットCSSここから
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ここまでリセットCSS */
body {
    background-color: #e8e8e8;
}

.index {
    width: fit-content;
    background-color: lightblue;
    border-radius: 5px;
    margin: 30px auto;
    padding: 15px 30px;
}

.index__text {
    color: #707070;
    font-size: 32px;
    text-align: center;

}

.form {
    width: fit-content;
    margin: 60px auto;
    padding: 60px 120px;
    background-color: white;
    text-align: center;
}

.form p {
    color: #707070;
    font-size: 20px;
}

.input_text {
    padding-bottom: 20px;
}

.input_box {
    border: none;
    border-bottom: solid 2px #707070;
}

.flex {
    display: flex;
}

.forgetpass_cat {
    width: 25px;
    height: 25px;
}

.buton {
    width: 120px;
    height: 50px;
    background-color: yellowgreen;
    border: none;
    border-bottom: solid 4px #627295;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.buton:hover {
    opacity: 0.8;
}

.buton:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
}

.buton_position {
    margin-top: 60px;
}

/* 岸さんCSSはここよ */
.header {
    display: flex;
    background-color: lightblue;
    position: fixed;
    width: 100%;
}

.header img {
    width: 70px;
    height: 70px;
}

.header .logo {
    display: flex;
    align-items: center;
    margin-right: 500px;
    width: 100%;
    font-size: 35px;
    color: #707070;
}

.tundere img {
    align-items: center;
    width: 95%;
    height: auto;
}

.buton-wrapper {
    text-align: center;
    margin: 0px 150px 80px 150px;
}

.text {
    text-align: center;
    font-size: 50px;
}

.border {
    font-size: 30px;
    text-align: left;
    line-height: 40px;
    padding: 100px;
    margin: 0px 200px 200px 200px;
}


.copyright {
    width: 100%;
    background-color: #909090;
    color: aliceblue;
    text-align: center;
    padding: 30px 0;

    /* 後で使うかも */
    /* position: abusolute;   */
    bottom: 0;
}