<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Necocchi</title>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>

</head>
<body>
    <header>ねこっちと暮らす</header>
    <!-- 下の2行がindex.htmlとののりしろ -->
    {% block content %}
    {% endblock %}
    
</body>
</html>