{% extends 'base.html' %}
{% block content %}



<!-- 岸さんhtmlはここよ -->
<div> 
    <div class="tundere">
    <img src="../static/img/front_bigimg.png" alt="">
</div>
<div class="buton-wrapper">
    
    <a href="/login"><input type="submit" name="save" value="ログイン" class="buton"></a>
    <a href="/regist"><input type="submit" name="save" value="新規登録" class="buton"></a>
</div>
   
    <div class="text">
        <p>H O W　T O </p>
    <div class="border">
    まず新規登録して頂き、習慣化させたいことのリストアップして下さい。
    次に設定時間も決めて登録し、スタート!!
    目標時間内でできたら、デレが出てきて褒めてくれます！
    できなければツンが叱ってくれます。
    
    </div>
 

</div>


{% endblock %}