<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<p class ="user_name">{{user_name}}さんこんにちは</p>

<table class="todo" border ="1">
    <td>id</td>
    <td>やること</td>
    <td>いつまで？</td>
    <td>あとどれぐらい?</td>
{% for item in html_hearinglist %}
<tr>
    <td class="td">{{item["id"]}}</td>
    <td class="td">{{item["task"]}}</td>
    <td class="td">{{item["time"]}}</td>
    <td class="td">{{item["left_time"]}}</td>
    <td><button class="dere botan botan_position">できた？</button></td>
    <td><button class="tun botan b_color dekinai">できなかった？</button></td>
</tr>
{% endfor %}
</table>

<div class="listbtn">
    <a href="/list" class="botan">戻る</a>
</div>

<div class="fukidashi_box">
    <div class="fukidashi">
        <p class="dere_replies"></p>
        <p class="tun_replies"></p>
    </div>
</div>


<div class="angry">
    <img src="../static/img/angry_tun.png" alt="">
</div>
<div class="smile">
    <img src="../static/img/smile_dele.png" alt="">
</div>


<!-- プッシュ通知 JSをcommon.jsに移動させると動かなくなります
<button type="button" onclick="sendPushNotification()">クリックして下さい</button>
<script type="text/javascript">
    function sendPushNotification() {
        Push.create('こんにちは！', {
            body: 'タスクできたかにゃ！',
            icon: 'index.jpg',
            timeout: 5000,
            onClick: function () {
                this.close();
                location.href = 'http://127.0.0.1:5000/hearing';
            }
        });
    };
</script> -->



{% endblock %}