<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<p class = "user_name">{{user_name}}さんこんにちは</p>


<table class= "todo" border ="1">
    <td>id</td>
    <td>やること</td>
    <td>いつまで？</td>
    <td>あとどれぐらい?</td>
{% for item in html_tasklist %}
<tr>
    <td>{{item["id"]}}</td>
    <td>{{item["task"]}}</td>
    <td>{{item["time"]}}</td>
    <td>{{item["left_time"]}}</td>
    <td><a href="/edit/{{item['id']}}">編集</a></td>
    <td><a href="/delete/{{item['id']}}">削除</a></td>
</tr>
{% endfor %}

</table>

<div class= "listbtn">
<a href="/add">タスクの追加</a><br>
<a href="/logout">ログアウト</a><br>
<a href="/hearing"> <img class = "necocchi_time" src="../static/img/necocchi_time.png" alt=""></a>
</div>

<div class="imgs">
<div class="tun_img">
    <img src="../static/img/tun.png" alt="">
</div>
<div class="dele_img">
    <img src="../static/img/dele.png" alt="">
</div>
</div>

{% endblock %}