<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<p class = "user_name">{{user_name}}さんこんにちは</p>


<table class= "todo" border ="1">
    <td>No.</td>
    <td>やること</td>
    <td>いつまで？</td>
    <td>あとどれぐらい?</td>
    <div> 
        {% for item in html_tasklist %}
        <tr>
            <td class="td">{{item["id"]}}</td>
            <td class="td">{{item["task"]}}</td>
            <td class="td">{{item["time"]}}</td>
            <td class="td">{{item["left_time"]}}</td>
            <td><a href="/edit/{{item['id']}}" class="botan botan_position">編集</a></td>
            <td><a href="/delete/{{item['id']}}" class="botan b_color">削除</a></td>
        </tr>
        {% endfor %}
        
    </div>
</table>

<div class= "listbtn">
<a href="/add" class="buton taskadd_size">タスクの追加</a><br>
<a href="/hearing"> <img class = "necocchi_time" src="../static/img/start.png" alt=""></a>
</div>

<div class="imgs">
<div class="tun_img">
    <img src="../static/img/tun.png" alt="">
</div>
<div class="dele_img">
    <img src="../static/img/dele.png" alt="">
</div>
</div>

{% endblock %}