<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<p class = "user_name">{{user_name}}さんこんにちは</p>

<table border ="1">
    <td>id</td>
    <td>やること</td>
    <td>いつまで？</td>
    <td>あとどれぐらい?</td>
{% for item in html_tasklist %}
<tr>
    <td>{{item["id"]}}</td>
    <td>{{item["task"]}}</td>
    <td>{{item["time"]}}</td>
    <td>{{item["left_time"]}}</td>
    <td><a href="/edit/{{item['id']}}">編集</a></td>
    <td><a href="/delete/{{item['id']}}">削除</a></td>
</tr>
{% endfor %}
<a href="/add">タスクの追加</a><br>
<a href="/logout">ログアウト</a>
</table>

<a href="/hearing">ねこっちタイム！</a>

{% endblock %}