<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}

<div>
    <div class="index">
        <h2 class="index__text">ログイン</h2>
    </div>

    <div class="form">
        <form action="/login" method="post">
            <p>名前：
                <input type="text" name="user_name">
            </p>
            <p>
                パスワード：
                <input type="password" name="user_pass">
            </p>
            <a href="/" class="flex">
                <p>パスワードを忘れた方はこちら</p>
                <img src="../static/img/nomalcat.png" alt="" class="forgetpass_cat">
            </a>
            <input type="submit" name="save" value="ログイン" class="buton">
        </form>
    </div>
</div>

{% endblock %}